:root {
    --btnSize: min(10vh, 15vw);
    --displaySize: calc(1.5 * var(--btnSize));
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Helvenitica Neue" , sans-serif;
}

.parent {
    background-color: black;
    width: min(66.6vh, 100vw);
    height: min(100vh,150vw);
    border-radius: 10vmin;
    padding: 5vmin;
    color: white;
    margin: 0 auto;
    position: relative;

}

.top-container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.display {
    font-size: var(--displaySize);
    font-weight: 300;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 15%;
    text-align: right;

}

.button {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
}

.btn {
    height: var(--btnSize);
    width: var(--btnSize);
    font-size: 45px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
}



.btn.function {
    color: black;
    background-color: #a5a5a5;
}

.btn.operator {
    background-color: #f1a33c;
}

.btn.number-0 {
    width: 250px;
    border-radius: 55px;
    justify-content: flex-start;
    padding: 43px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn:active, .btn:focus{
    filter: brightness(120%);
}

.bottom {
    width: 200px;
    height: 5px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
